# DISCORD_TOKEN: Bot token obtained from Discord Developer Portal.
DISCORD_TOKEN=""

# DISCORD_CLIENT_ID: Application/Client ID from Discord Developer Portal.
DISCORD_CLIENT_ID=""

# OWNER_ID: Discord Snowflake ID of the bot owner (Numo Core).
OWNER_ID=""

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

